body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

h1 {
  display: grid;
  justify-items: center;
}
#container {
  width: 40%;
  height: fit-content;
  margin: auto;
}
form {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0 0.3em #e6e6e6;
  border-radius: 13px;
}
form > * {
    margin: 1.3rem;
}

fieldset{
    display: grid;
    justify-items: center;
}

#btns {
    display: flex;
    justify-content: space-evenly;
}

footer {
    display: grid;
    justify-items: center;
}